.el-menu-wrapper {
  width: 15rem;
}

.el-menu {
  align-self: stretch;
  width: 100%;
  height: 100%;
  border: none;
}

.el-menu-item {
  font-size: 1.2rem;
  color: darkgray;
  //padding: 0 240px;
  border-right: 1px dotted rgb(223, 197, 152);
  width: 100% !important;
}

.el-menu-item.is-active {
  color: #f89d25;
  border: 1px dotted rgb(223, 197, 152);
  border-right: none;
  //max-width: 100px;
  //min-width: 100px;
}

.el-menu-item :focus {
  background-color: antiquewhite;
}

@media screen and (max-width: 50rem) {
  .el-menu-wrapper {
    width: 9rem;
  }
}

@media screen and (max-width: 44.5rem) {
    .el-menu-wrapper {
        width: 19rem;
    }
}
