@import "@/styles/variables.scss";

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .back-wrapper {
        display: flex;
        cursor: pointer;
        margin-top: 10px;

        .icon {
            height: 1.8rem;
        }

        .text {
            color: $aio-theme-3;
            font-size: 2rem;
            font-family: HappyZcool, sans-serif;
        }
    }
    .download-wrapper {
        display: flex;
        cursor: pointer;
        margin-top: 10px;

        .icon {
            height: 1.8rem;
        }

        .text {
            color: $aio-theme-3;
            font-size: 2rem;
            font-family: HappyZcool, sans-serif;
        }
    }
}


.file-wrapper {
    margin: 0 100px 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .file-title {
        height: 10vh;
        width: 100%;
        margin: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .title-text{
            font-size: 2.7rem;
            color: $aio-theme-2;
            font-family: HappyZcool, sans-serif;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis " [..]";
        }
    }
    .file-content{
        margin: auto;
        width: calc(100% - 6px);
        height: 52vh;

    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
    }
}

.download-box {
    .download-code {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .qrcode {
            margin-bottom: 10px;
        }
        .text {
            color: $aio-gray;
            font-size: 1.2rem;
            font-family: Alibaba PuHuiTi, sans-serif;
        }
    }

}









