/* alibaba-puhuiti-2-55-regular */
@font-face {
    font-family: Alibaba PuHuiTi;
    font-style: normal;
    font-weight: 400;
    src: local("Alibaba PuHuiTi 2 55 Regular"), local("AlibabaPuHuiTi_2_55_Regular"), url(alibaba-puhuiti-2-55-regular.woff2) format("woff2");
}

