@import "@/styles/variables";

.wrapper {
    user-select: none;

    .slogan {
        width: 100%;
        font-size: 4.5vw;
        font-weight: 500;
        margin-top: 4vh;
        margin-bottom: 5vh;
        text-align: center;
        color: $aio-theme-1;
        font-family: HappyZcool, sans-serif;
    }

    .search-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;

        .search-input {
            height: 6vh;
            width: 30vw;
            font-size: 1.5rem;
            padding-left: 1rem;
            outline: none;
            border: 2px solid rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            font-family: Alibaba PuHuiTi;
        }

        .search-btn {
            //position: absolute;
            //left: calc(50vw + 9vw);
            //top: 20vh;
            border-radius: 10px;
            border: none;
            color: white;
            width: 7vw;
            min-width: 8rem;
            line-height: 3vh;
            margin-left: 1rem;
            font-size: 1.6rem;
            background: $aio-theme-2;
            cursor: pointer;
            font-family: Alibaba PuHuiTi;
        }
    }

    .catalog-wrapper {
        margin-top: 4vh;
        width: 100%;

        .row {
            display: flex;
            justify-content: space-around;
            //background: gray;
            padding: 0 15vw;

            .item {
                min-width: 300px;
                border: 2px solid rgba(0, 0, 0, 0.2);
                border-radius: 5px;
                margin: 20px;
                width: 30vw;
                height: 17vh;
                display: flex;
                cursor: pointer;
                flex-direction: row;

                .icon-wrapper {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .icon {
                        height: 60%
                    }
                }


                .text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    font-size: 3vw;
                    font-weight: 500;
                    color: $aio-theme-2;
                    font-family: HappyZcool, sans-serif;
                }
            }
        }
    }
}
