@import "@/styles/variables.scss";

.doc-search-wrapper {
    //width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 8rem;
    position: relative;

    .search-input {
        height: 50px;
        //width: 15vw;
        font-size: 1rem;
        padding-left: 1rem;
        padding-right: 50px;
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        font-family: Alibaba PuHuiTi;
        transition: all ease-in-out 0.3s;

        &:focus{
            border: 1px solid $aio-theme-3;
        }
    }

    .search-btn {
        position: absolute;
        top: 0;
        right: 0;
        height: 50px;
        width: 50px;
        border-radius: 10px;
        border: none;
        color: white;
        font-size: 1.1rem;
        cursor: pointer;
        font-family: Alibaba PuHuiTi;
        background: transparent;
    }
}
