@import "@/styles/topBar";

.wrapper {
    user-select: none;
}

.slogan {
    width: 100%;
    font-size: 4.5vw;
    font-weight: 500;
    margin-top: 3vh;
    margin-bottom: 4vh;
    text-align: center;
    color: $aio-theme-1;
    user-select: none;
    font-family: HappyZcool, sans-serif;
}

.description {
    padding: 0 2vw;
    margin: 0 13vw;
    font-size: 1.5vw;
    font-weight: 500;
    font-family: Alimama DongFangDaKai, sans-serif;
    color: $aio-theme-3;
    line-height: 2.5vw;
    max-height: 45vh;
    overflow: auto;
}
